
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Estados</title>
        <meta charset="UTF-8"/>
    </head>
    
    <body>
        <header th:fragment="header">
                <h1>ESTADOS</h1>
        </header>
        
        <header2 th:fragment="header2">
                <h1>Pagina Web de Practica</h2>
        </header2>
        
        <footer th:fragment="footer">
                <h3>&COPY; Derechos Reservados 2022</h3>
        </footer>
        
    </body>
</html>
