<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <link href="../css/estilo.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
    </head>

    <header>            
        <nav class="nav">
            <a th:href="@{/}" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/compra/compra}">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/cambio/cambio}">Cambio de Tiquetes</a></li>              
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/info/info}">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/flota/flota}">Nuestra Flota</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/contacto/contacto}">Contáctanos</a></li>
            </ul>  
        </nav>

    </header>

    <body>
        <h3>Seleccione la ruta:<br></h3>
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="ruta1" name="ruta1" value="RUTA1"></th>
                    <th><label for="ruta1"> San Jose - La Fortuna</label><br></th>
                    <th><input type="checkbox" id="ruta2" name="ruta2" value="RUTA2"></th>
                    <th><label for="ruta2"> La Fortuna - Quesada</label><br></th>
                    <th><input type="checkbox" id="ruta3" name="ruta3" value="RUTA3"></th>
                    <th><label for="ruta3"> Quesada - Agua Zarcas</label><br> </th>
                    <th><input type="checkbox" id="ruta4" name="ruta3" value="RUTA4"></th>
                    <th><label for="ruta4"> La Fortuna - Buena Vista</label><br> </th>
                </tr>
            </thead>
        </table>

    </body>

    <button type="button">Continuar</button> 

</html>
