* {
    margin: 0;
    box-sizing:content-box;
}

.table {
    width: 70%;
    background:rgba(255,255,255, 0.9);
    margin: 45px;
    text-align: center;
}

.table td, .table th {
    padding: 10px;
}

.table2 {
    width: 80%;
    text-align: left;
    background:rgba(255,255,255, 0.9);
    border: 1px solid;
    margin: 25px;
}

.table2 td, .table2 th {
    padding:15px;
}

.table3 {
    width: 90%;
    background:rgba(255,255,255, 0.9);
    margin: 55px;
    border: 1px solid;
}

.table3 td, .table th {
    padding: 18px;
}

body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2f/Terminal_de_buses_Santiago%2C_Estaci%C3%B3n_Central%2C_Santiago_20200204_17.jpg');
    background-size: 1400px 650px;
    font-family: verdana;
    color: #FC6E35;
    padding: 90px 20px 0;
    margin: 25px;   
}

header {
    font-family: verdana;
    font-size: 14px;
    color: #FC6E35;
    background-color: #DEE0D3;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-family: verdana;
    color: #FC6E35;
    font-size: 14px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 30px;
    text-align: center;
}

.nav-menu {
    font-family: verdana;
    color: #FC6E35;
    display: flex;
    margin-right: 20px;
    list-style: none;
}

.nav-menu-item {
    font-family: verdana;
    color: #FC6E35;
    font-size: 15px;
    margin: 10px;
    line-height: 20px;
    text-align: right;
}

.nav-menu-link {
    font-family: verdana;
    color: #FC6E35;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-link:hover {
    background-color: #d1d5be;
    font-size: 20px;
    transition: 1s;
}

.horizontal-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background: #FFFFFF;
    margin: 55px;
}

.horizontal-flex-container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 55px;
}

.button {
    top: 799px;
    left: 1256px;
    width: 430px;
    height: 93px;
    background: #DAB447 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

img {
    padding: 10px;
}