* {
    margin: 0;
    box-sizing: border-box
}




.table {
    width: 80%;
    text-align: left;
    background: #ffffff;
    border-collapse: collapse;
    margin: 55px;
}
.table td, .table th {
    border:2px solid #cccccc;
    padding:15px;
}



body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2f/Terminal_de_buses_Santiago%2C_Estaci%C3%B3n_Central%2C_Santiago_20200204_17.jpg');
    background-size: 1400px 650px;
    font-family: verdana;
    color: #FC6E35;
    padding: 90px 20px 0;
}



.header {
    font-family: verdana;
    color: #FC6E35;
    background-color: #DEE0D3;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.nav-link {
    color: white;
    text-decoration: none;
}



.logo {
    font-family: verdana;
    color: #FC6E35;
    font-size: 14px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 30px;
    text-align: center;
}



.nav-menu {
    font-family: verdana;
    color: #FC6E35;
    display: flex;
    margin-right: 20px;
    list-style: none;

}



.nav-menu-item {
    font-family: verdana;
    color: #FC6E35;
    font-size: 15px;
    margin: 15 10px;
    line-height: 20px;
    text-align: right;



}



.nav-menu-link {
    font-family: verdana;
    color: #FC6E35;
    padding: 8px 12px;
    border-radius: 4px;
}



.nav-menu-link:hover {
    background-color: #d1d5be;
    font-size: 20px;
    transition: 1s;
}



.horizontal-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background: #FFFFFF;
    margin: 55px;
}

.button {
    top: 799px;
    left: 1256px;
    width: 430px;
    height: 93px;
    background: #DAB447 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}



img {
    padding: 5px;
}

