
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header class="header">            
        <nav class="nav">
            <a href="index.html" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="compra.html">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="cambio.html">Cambio de Tiquetes</a></li>                    
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="info.html">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="flota.html">Nuestra Flota</a></li>
            </ul>  
        </nav>
    </header>

    <body>

        <h2>Rutas y horarios</h2>

        <div th:if="${rutas !=null and !rutas.empty}">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre de ruta</th>
                        <th>Horario 1</th>
                        <th>Horario 2</th>
                        <th>Horario 3</th>
                        <th>Horario 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ruta : ${rutas}">
                        <td>[[${ruta.nombre_ruta}]]</td>
                        <td>[[${ruta.horario_1}]]</</td>
                        <td>[[${ruta.horario_2}]]</td>
                        <td>[[${ruta.horario_3}]]</td>
                        <td>[[${ruta.horario_4}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${rutas ==null or rutas.empty}">
            <h2>No se tienen rutas disponibles!</h2>
        </div>
    </body>
</html>
