<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="../css/estilo.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
    </head>

    <header>            
        <nav class="nav">
            <a th:href="@{/}" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/compra/compra}">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/cambio/cambio}">Cambio de Tiquetes</a></li>              
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/info/info}">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/flota/flota}">Nuestra Flota</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/contacto/contacto}">Contáctanos</a></li>
            </ul>  
        </nav>

    </header>

    <body>
        <h3>Bienvenido a la página Buses de San Carlos<br></h3>
        <div class="horizontal-flex-container2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rutas y horarios<br> SAN JOSE - CIUDAD QUESADA </th>
                    </tr>
                </thead>
                <tbody>
                <td><img src="../css/icono reloj.png" alt=""/></td>
                <tr th:each="ruta : ${rutas}">
                    <td>[[${ruta.horario_1}]]</td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Rutas y horarios<br> CIUDAD QUESADA - SAN JOSE </th>
                    </tr>
                </thead>
                <tbody>
                <td><img src="../css/icono reloj.png" alt=""/></td>
                <tr th:each="ruta : ${rutas}">
                    <td>[[${ruta.horario_2}]]</td>
                </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th>Rutas y horarios<br> LA FORTUNA - CIUDAD QUESADA</th>
                    </tr>
                </thead>
                <tbody>
                <td><img src="../css/icono reloj.png" alt=""/></td>
                <tr th:each="ruta : ${rutas}">
                    <td>[[${ruta.horario_3}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
