
<html
    xmlns:th="http://www.thymeleaf.org">
    <link href="../static/css/estilo.css" rel="stylesheet" type="text/css"/>
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <meta charset="UTF-8">
        <link href="layout/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Datos de Tiquetes</h1>
        <a th:href"@{/}">Regresar</a>
        </hr>
        <form th:action="@{/tiquete/guardar}"
              method="post"
              th:object="${tiquete}">
            
            <input type="hidden" name="idTiquete" th:field="*{idTiquete}"/>
            <br/>
  
            
            <label for="nombre_tiquete">Nombre</label>
            <input type="text" name="nombre_tiquete" th:field="*{nombre_tiquete}"/>
            <br/>

            <label for="horario_1">horario 1</label>
            <input type="text" name="horario_1" th:field="*{horario_1}"/>
            <br/>

            <label for="horario_2">horario 2</label>
            <input type="text" name="horario_2" th:field="*{horario_2}"/>
            <br/>

            <label for="horario_3">horario 3</label>
            <input type="text" name="horario_3" th:field="*{horario_3}"/>
            <br/>
            
            <input type="submit" name="guardar" value="Guardar"/>
            
        </form>

    </body>
</html>
