
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <link href="../css/estilo.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
    </head>

    <header class="header">            
        <nav class="nav">
            <a th:href="@{/}" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/compra/compra}">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/cambio/cambio}">Cambio de Tiquetes</a></li>              
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/info/info}">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/flota/flota}">Nuestra Flota</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/contacto/contacto}">Contáctanos</a></li>
            </ul>  
        </nav>

    </header>
      
    <body>
        
        <table class="table2">
            <thead>
                <tr>
                    <th><h3>Ingrese su correo electrónico para verificar si hay un tiquete válido asociado:<br></h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
            <form action="/action_page.php">
                <td><label for="correo">Correo Electronico:</label><br> </td>
                <td><input type="text" id="correo" name="correo" value=""><br></td>
                <td><input type="submit" value="Verificar"></td>
            </form> 
                </tr>
           </tbody>
        </table>
    </body>

</html>
