
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <link href="../css/estilo.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header class="header">            
        <nav class="nav">
            <a th:href="@{/}" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/compra/compra}">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/cambio/cambio}">Cambio de Tiquetes</a></li>              
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/info/info}">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/flota/flota}">Nuestra Flota</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/contacto/contacto}">Contáctanos</a></li>
            </ul>  
        </nav>

    </header>

    <body>

        <h3 style="color: white;">Informacion de contacto<br></h3>

        <table class="table3">
            <thead>
                    <tr>
                        <th><p><strong>Dirección de la terminal</strong></th>
                        <th><p><strong>Horario Oficina de Tiquetes</strong></th>
                        <th><p><strong>Horario Oficina de Encomiendas</strong></th>
                        <th><p><strong>Información y/o otras consultas</strong></th>
                        <th><p><strong>Teléfono Encomiendas</strong></th>
                    </tr>
            </thead>
            <tbody>
                <tr style="text-align: justify; font-size: 11pt;">
                    <td>
                            <p>Terminal 3-14. San Carlos, La Fortuna de la panaderia "Las Delicias", 200m Sur. </p>
                    </td>
                    <td>
                        
                            <p>Sábado a Lunes de 5:30 a.m. a 11:00 p.m.<br>
                            Martes a Viernes de 6:30 a.m. a 11:00 p.m.</p>
                    </td> 
                    <td>
                        
                            <p>Lunes a Viernes de 7:00am a 12:20pm y de 1pm a 4:30pm y los&nbsp;sábados&nbsp;de 7:00am a 12:20pm. <br>
                            Domingos y&nbsp;feriados las oficinas de encomiendas no laboran.</p>
                    </td>  
                    <td>
                        
                            <p>(506)2290-3030, 2643-467<br>
                            Horario de Lunes a Viernes de 8am a 10pm.</p>
                    </td>    
                    <td>    
                        
                            <p>(506)2519-9870</p>
                   </td>     
                </tr>
            </tbody>
        </table>
        <br><!-- comment -->
        <br><!-- comment -->
        <br>
        <br>
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        <br><!-- comment -->
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31387.533206919!2d-84.64334959812012!3d10.465807424468451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa077e881828f4f%3A0xea6f02d26460f2fc!2sProvincia%20de%20Alajuela%2C%20San%20Carlos!5e0!3m2!1ses-419!2scr!4v1671065477886!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </body>
</html>
