
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <header class="header">            
        <nav class="nav">
            <a th:href="@{/}" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/compra/compra}">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/cambio/cambio}">Cambio de Tiquetes</a></li>              
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/info/info}">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/flota/flota}">Nuestra Flota</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/contacto/contacto}">Contáctanos</a></li>
            </ul>  
        </nav>
        
    </header>

    <body>
        <div class="col-md-12 main-wrap" itemprop="mainContentOfPage" role="main">
            <div class="main-content">
                <div class="vc_row wpb_row vc_row-fluid justificado"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="color: rgb(246, 130, 31); text-align: left; font-family: Montserrat; font-weight: 400; font-style: normal; --darkreader-inline-color:#f78c31;" class="vc_custom_heading" data-darkreader-inline-color="">NUESTROS VALORES</h2>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>La empresa TRANSPORTES SAN CARLOS S.A. se constituyó como una persona jurídica organizada bajo los lineamientos de las sociedades anónimas, de acuerdo con la normativa contenida en el Código de Comercio. Por supuesto, la excelente ejecución de las labores mostrada por la empresa deviene de la estructura que caracteriza estas sociedades y otras formas de organización similares, en las cuales debe estructurarse toda una jerarquía técnico – administrativa cuya finalidad es la de velar por la buena marcha de los objetivos fijados, en este caso, del mejoramiento en el servicio de transporte remunerado de personas en vehículos automotores bajo la modalidad de autobús.</p>

                                    </div>
                                </div>
                            </div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><h2 style="color: rgb(246, 130, 31); text-align: left; font-family: Montserrat; font-weight: 400; font-style: normal; --darkreader-inline-color:#f78c31;" class="vc_custom_heading" data-darkreader-inline-color="">MISIÓN</h2>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Es una empresa de transportes en función del usuario, donde su prioridad es brindar la seguridad, comodidad, eficiencia, que busca el cliente en todo servicio que se le preste, llevando la satisfacción de cumplir con las necesidades que nacen de estos en materia de transporte.</p>

                                    </div>
                                </div>
                                <h2 style="color: rgb(246, 130, 31); text-align: left; font-family: Montserrat; font-weight: 400; font-style: normal; --darkreader-inline-color:#f78c31;" class="vc_custom_heading" data-darkreader-inline-color="">VISIÓN</h2>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Somos una empresa que busca sobresalir en la actividad del transporte, aumentando su capacidad y mejorando día con día para llegar a alcanzar la satisfacción de nuestros clientes y nuestra consolidación empresarial.</p>

                                    </div>
                                </div>
                            </div></div></div></div>
            </div>
        </div>
    </body>
</html>
