
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TRANSPORTES SAN CARLOS</title>
        <link href="../css/estilo.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
    </head>

    <header class="header">            
        <nav class="nav">
            <a th:href="@{/}" class="nav-link logo">TRANSPORTES SAN CARLOS</a>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" href="/">Inicio</a></li> 
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/compra/compra}">Venta en Linea</a></li>   
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/cambio/cambio}">Cambio de Tiquetes</a></li>              
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/info/info}">Quienes Somos</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/flota/flota}">Nuestra Flota</a></li>
                <li class="nav-menu-item"><a class="nav-link nav-menu-link" th:href="@{/contacto/contacto}">Contáctanos</a></li>
            </ul>  
        </nav>

    </header>

    <body>  
        <div class="horizontal-flex-container2">
            <table class="table2">
                <thead>
                    <tr>
                        <th style="color: rgb(246, 130, 31); text-align: left; font-family: Montserrat; font-weight: 400; font-style: normal; --darkreader-inline-color:#f78c31;" class="vc_custom_heading" data-darkreader-inline-color="">NUESTROS VALORES</th>
                    </tr>
                </thead>
                <tbody>
                <td style ="font-family: Montserrat; font-weight: 400; font-size: 12pt; font-style: normal;">La empresa TRANSPORTES SAN CARLOS S.A. se constituyó como una persona jurídica organizada bajo los lineamientos de las sociedades anónimas, de acuerdo con la normativa contenida en el Código de Comercio. Debe estructurarse toda una jerarquía técnico – administrativa cuya finalidad es la de velar por la buena marcha de los objetivos fijados, en este caso, del mejoramiento en el servicio de transporte remunerado de personas en vehículos automotores bajo la modalidad de autobús.</td>
                </tbody>
            </table>

            <table class="table2">
                <thead>
                    <tr>
                        <th style="color: rgb(246, 130, 31); text-align: left; font-family: Montserrat; font-weight: 400; font-style: normal; --darkreader-inline-color:#f78c31;" class="vc_custom_heading" data-darkreader-inline-color="">MISIÓN</th>

                    </tr>
                </thead>
                <tbody>
                <td style ="font-family: Montserrat; font-weight: 400; font-size: 14pt; font-style: normal;">Es una empresa de transportes en función del usuario, donde su prioridad es brindar la seguridad, comodidad, eficiencia, que busca el cliente en todo servicio que se le preste, llevando la satisfacción de cumplir con las necesidades que nacen de estos en materia de transporte.</td> 
                </tbody>
            </table>

            <table class="table2">
                <thead>
                    <tr>
                        <th style="color: rgb(246, 130, 31); text-align: left; font-family: Montserrat; font-weight: 400; font-style: normal; --darkreader-inline-color:#f78c31;" class="vc_custom_heading" data-darkreader-inline-color="">VISIÓN</th>
                    </tr>
                </thead>
                <tbody>
                <td style ="font-family: Montserrat; font-weight: 400; font-size: 14pt; font-style: normal;">Somos una empresa que busca sobresalir en la actividad del transporte, aumentando su capacidad y mejorando día con día para llegar a alcanzar la satisfacción de nuestros clientes y nuestra consolidación empresarial.</td>

                </tbody>
            </table>
        </div>
    </body>
</html>
